<footer class="shadow-lg">
    <div class="container-fluid">
        <div class="row pt-1 g-0">
            <div class="col-lg-6  pb-3 ">
                <h3>Get the FreshCart app</h3>
                <p>We will send you a link, open it on vour phone to download the app.</p>
                <div class=" d-flex  align-items-center">
                    <input type="text" placeholder="Email.." class="rounded-3">
                    <button class="btn ms-3 fs-6 px-2 py-1 ">share</button>
                </div>
                <div class=" mt-4 text-center">
                    <p class="">CONNECT WITH US :</p>
                    <i class="fa-brands fa-twitter fs-3 mx-2"></i>
                    <i class="fa-brands fa-facebook fs-3 mx-2"></i>
                    <i class="fa-brands fa-instagram fs-3 mx-2"></i>
                    <i class="fa-brands fa-linkedin fs-3 mx-2"></i>
                </div>
                
            </div>
            <div class="col-lg-6 ">
                <div class="d-flex">
                    <div class="w-100">
                    <p class=" text-center">Get deliveries with FreshCart :</p>
                    <div  class="d-flex justify-content-center align-items-center">
                        <img src="../../assets/img/google-play.svg" width="100" >
                        <img src="../../assets/img/Huawei-icon.png" width="100" >
                    </div>
                        
                   
                </div>
                    <div class=" w-100 text-center ">
                        <p class="my-2 ">Payment Partners :</p>
                        <img src="../../assets/img/card-mastercard.svg" class="mx-1" >
                        <img src="../../assets/img/valu.svg" class="mx-1" >
                        <img src="../../assets/img/cod-en.svg"  class="mx-1">
                        <img src="../../assets/img/card-visa.svg" class="mx-1" >

                    </div>
                    
                </div>
                
                    
                    
                    <div class="text-center pt-5">
                    <h3>We're Always Here To Help</h3>
                    <p>Reach out to us through any of these support channels</p>
                    </div>
                    
                    

                

            </div>

        </div>

    </div>
    <div class=" pb-3 text-center  pt-2 border border-top-1 border-bottom-0 border-end-0 border-start-0 " >
        <p >All Rights Reserved HEGZR 2023.©</p>
    </div>

</footer>

