<nav class="navbar navbar-expand-lg shadow-lg  ">

    <div class="container-fluid all-nav">
        <div class=" d-flex justify-content-center align-items-center ">
            <img src="./assets/img/icons8-fast-cart-64.png" class=" shadow-lg rounded-end-5 ">
            <a class="navbar-brand fs-4 text-white fw-bolder ps-1" routerLink="/home">Fresh Cart</a>
        </div>

      
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    


      <div class="collapse navbar-collapse " id="navbarNav">
        
        <ul class="navbar-nav ms-5 d-flex justify-content-around  w-75  me-5 ">

          <li class="nav-item mx-2 ">
            <a class="nav-link text-white fw-light fs-5  " routerLinkActive="active" routerLink="home">Home</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link text-white fw-light fs-5" routerLinkActive="active" routerLink="products">Products</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link text-white fw-light fs-5" routerLinkActive="active" routerLink="categories">Categories</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link text-white fw-light fs-5" routerLinkActive="active" routerLink="brands">Brands</a>
          </li>
        

        </ul>
        
        <div class="mx-auto  nav-end  d-flex justify-content-evenly  w-25 ">





          <div routerLink="wishlist" class=" nav-cart d-flex justify-content-center align-items-center w-50 py-2 border border-top-0 border-bottom-0 border-start-3  border-end-3 me-1 mb-2">
            <i class="fa-solid fa-heart-circle-check fs-4 p-1 text-danger "></i>
            <small class="">Wish list</small>
            <span class="position-absolute top-0 translate-middle-x  badge bg-danger">{{numberOfWish}}</span>

          </div>
          <div routerLink="/cart" class=" nav-cart d-flex justify-content-center align-items-center w-50 py-2 border border-top-0 border-bottom-0 border-start-0  border-end-3 me-1 mb-2  ">
            <i class="fa-solid fa-cart-arrow-down fs-4 p-1 text-success position-relative "></i>
           
            <small>Cart</small>
            <span class="position-absolute top-0 translate-middle-x   badge bg-success">{{numberOfCart}}</span>

          </div>
          

          <button (click)="logOut()" class="border-0 bg-transparent text-white w-50 py-2">LOG OUT</button>

        </div>
        

      </div>


    </div>

  </nav>

